<!DOCTYPE html>
<html>
  <head>
    <title>trial</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
<link rel='stylesheet' href='stylesheets/welcome.css' />
    
  </head>
  <body>
    <div>
    <h1>Welcome,  <%= name %>  !<hr></h1>
         <a href="/customers">
            <button type="submit">Check Customers</button>
         </a >
         <a href="/products">
            <button type="submit">Check Products</button>
         </a>
         <a href="/transactions">
            <button type="submit">Check Transactions</button>
         </a>
        </div>
  </body>
</html>
