<!DOCTYPE html>
<html>
  <head>
    <title>HappyStore</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='stylesheets/forms.css' />
  </head>
  <body>
    <form>
    <h1>Welcome!<hr></h1><p>
      <strong>HappyStore</strong> is happy to offer you a variety of games for your kids. Start you shopping journey right now and draw a smile on those children
    </p>
<span>    
      <button type="submit" value="signin" name="action"><a href="/login">Sign In</a></button>
    <button type="submit" value="signup" name="action"><a href="/signup">Sign Up</a></button>
</span>
  </form>
  </body>
</html>
