<html>
<head></head>
<body>
    <h2>Welcome, <span id="user">Username</span>!</h2>
</body>
<script type="text/script">
    var user = <%= username %>;
    document.getElementById("user").innerHTML = user;
</script>
</html>