<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='stylesheets/welcome.css' />
</head>
<body>
    <div>
        <h1>Welcome,  <%= name %>  !<hr></h1>
             
             <a href="/products">
                <button type="submit">start shopping</button>
             </a>
             <a href="/transactions">
                <button type="submit">your orders</button>
             </a>
            </div>
  
      </body>
</html>