*{
    font-family: 'Cinzel', serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1558244661-d248897f7bc4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVwZWF0aW5nJTIwcGF0dGVybnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60");
    background-repeat: repeat-y;
    background-size: cover;
}
form{ 
    padding: 0px 65px 20px 65px;
    width:220px;
    align-self: center;
    margin-top: 15%;
    margin-bottom: 25%;
    border-radius: 22px;
    text-align: center;
    background-color: rgba(250, 235, 215, 0.956);
}
span{
    display: flex;
    justify-content: space-between;
    width:110%
}
span input{
    width: 48%
}
h1 hr {
    margin-top: -5px;
}
button{
border-radius: 15px;
border: 0.5px solid black;
font-weight: 500;
}
button:hover{
    background-color: bisque;
}
form p {
    margin-left: -30px;
    margin-right: -30px;
}
input{
    margin-bottom: 15px;
    width: 110%;
    height: 25px;
    border-radius: 10px;
    border: 0.5px solid black;
padding:10px
}
a, a:hover, a:visited, a:checked{
    text-decoration: none;
  }
  .warning{
    flex:none;
    color:rgb(224, 0, 0);
    font-weight: bold;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
    margin-right: 0px;
    text-align: left;
    margin-top: -10px;
  }
  a.warn {
    display: block;
    position: relative;
    color:purple;
    text-decoration: underline;
    font-size: x-small;
    text-align: left;
    left: 15px;
    top: -10px;
    text-align: left;
     
  }