*{
  font-family: 'Cinzel', serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1558244661-d248897f7bc4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVwZWF0aW5nJTIwcGF0dGVybnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60");
  background-repeat: repeat-y;
  background-size: cover;
}
div{ 
  padding: 0px 65px 20px 65px;
  width:220px;
  height: 330px;
  align-self: center;
  margin-top: 15%;
  margin-bottom: 25%;
  display: flex;
  justify-content: space-around;
  border: black solid ;
  flex-direction: column;
  border-radius: 22px;
  text-align: center;
  background-color: rgba(250, 235, 215, 0.956);
}

button{
border-radius: 5px;
border: 0.5px solid black;
font-weight: 500;
margin-top: 4px;
width: 110%;
font-size: larger;
height:35px;
}
button:hover{
  background-color: bisque;
}
a{
position: relative;
top: -20px;
left: -10px;
}
